html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
/*ol, ul {
	list-style: none;
}*/
dl, ol, ul {
  margin-top: 0;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

[type="search"] {
  -webkit-appearance: none;
  outline-offset: -2px;
}

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button, input {
  overflow: visible;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

:root {
  --sqt-color-text-base:#323232;
  --sqt-color-text-muted:#646464;
  --sqt-color-primary:#459db9;
  --sqt-color-warning:#ee9040;
  --sqt-color-link:#0071bc;
	--sqt-color-border:#eee;
  --sqt-color-link-hover:var(--sqt-color-warning);
  --sqt-font-family-base-system:-apple-system,BlinkMacSystemFont,Segoe UI,"Helvetica Neue",Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  --sqt-font-family-monospace-system:"SFMono-Regular",Menlo,Consolas,Monaco,Liberation Mono,Lucida Console,monospace;
  --sqt-font-family-base:var(--sqt-font-family-base-system);
  --sqt-font-family-heading:var(--sqt-font-family-base-system);
  --sqt-font-family-monospace:var(--sqt-font-family-monospace-system);
  --sqt-font-size-h1:36px;
  --sqt-font-size-h2:32px;
  --sqt-font-size-h3:26px;
  --sqt-font-size-h4:21px;
  --sqt-font-size-h5:18px;
  --sqt-font-size-h6:16px;
	--sqt-sidebar-font-size:0.9em;
  --sqt-sidebar-header-font-weight:600;
  --sqt-font-size-small-1:87.5%;
  --sqt-font-size-small-2:70%;
  --sqt-sidebar-font-size:var(--sqt-font-size-small-1);
  --sqt-header-article-font-size:var(--sqt-font-size-small-1);
	--sqt-code-cell-background: #f7f7f7;
  }




*, ::after, ::before {
  box-sizing: border-box;
}


body {
  background-color: var(--sqt-color-background);
  color: var(--sqt-color-text-base);
  display: flex;
  flex-direction: column;
  font-family: var(--sqt-font-family-base);
  font-weight: 400;
  line-height: 1.65;
  min-height: 100vh;
  font-size: 1rem;
  margin: 0;
  text-align: left;
}

#body-container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

#body-container-inner {
  display: flex;
  width: 100%;
}

@media (min-width: 960px) {
	#body-container-inner {
		max-width: 88rem;
	}
}


@media (min-width: 960px) {
	#sidebar-primary {
		margin-left: 0;
		visibility: visible;
	}
}

#sidebar-primary {
  padding: 0;
	display: flex;
  flex-basis: 275px;
	flex: 0 0 25%;
  flex-direction: column;
  top: 0 !important;
	height: 100vh;
  max-height: 100vh;
  max-width: 100%;
  transition: margin-left .25s ease 0s,opacity .25s ease 0s,visibility .25s ease 0s;
  overflow-y: unset;
  gap: 1rem;
  position: sticky;
  border-right: 1px solid rgba(0,0,0,.1);
	background: #fff;
  font-size: var(--sqt-sidebar-font-size);
	scrollbar-gutter: stable;
}

#sidebar-primary-content:hover {
	overflow-y: scroll;
}

#sidebar-primary-content {
	overflow-y: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 1rem 1.5rem;
  border-top: none;
}

#sidebar-primary::-webkit-scrollbar {
    width: 0.3rem;
    height: 0.3rem;
}

#sidebar-primary:not(:hover)::-webkit-scrollbar-thumb {
    visibility: hidden;
}

#sidebar-primary::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 0.25rem;
}

#sidebar-primary-content::-webkit-scrollbar {
	display: none;
}

#brand-box {
  padding-top: 2em;
}

#brand-box a {
  width: 100%;
  flex-direction: column;
  height: auto;
  align-items: center;
  display: flex;
  gap: .5rem;
  margin: 0;
  position: relative;
  padding: 0;
  font-size: 1.25rem;
  line-height: inherit;
}

.text-wrap {
  white-space: normal !important;
}

#brand-box a h1 {
  margin: .5em 0 0;
  font-size: 1.1em;
  color: #000;
  text-align: center;
}

#search-box {
  margin-left: -15px;
  margin-right: -15px;
  padding: 1rem 15px;
  position: relative;
	align-items: center !important;
	display: flex !important;
	opacity: 0; /* while we don't have this*/
}

#search-input::placeholder {
  color: var(--sqt-color-text-muted);
	opacity: 1;
}

#search-box input {
  background-color: var(--sqt-color-background);
  border: 1px solid var(--sqt-color-border);
  border-radius: .25rem;
  color: var(--sqt-color-text-base);
  padding-left: 2.5rem;
	background-clip: padding-box;
	display: block;
	font-size: 1rem;
	font-weight: 400;
	height: calc(1.5em + .75rem + 2px);
	line-height: 1.5;
	padding: .375rem .75rem;
	padding-left: 0.75rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	width: 100%;
}


#nav-toc {
  margin-left: 0;
  overflow-y: visible;
  max-height: none;
  display: block;
  margin-right: -1rem;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}



nav.nav-links .navbar-nav p.chapter-caption {
  color: var(--sqt-color-text-base);
  font-weight: var(--sqt-sidebar-header-font-weight);
  margin-bottom: .5em;
  margin-top: 1.25em;
  position: relative;
}

nav.nav-links .navbar-nav p.chapter-caption:first-child {
  margin-top: 0;
}

nav.nav-links ul {
  list-style: none;
  display: block;
  margin-bottom: 0;
  padding-left: 0;
}

.navbar-nav li {
  display: flex;
  flex-direction: column;
  position: relative;
}

.navbar-nav li a {
  color: #5a5a5a;
	display: block;
  padding-top: .25rem;
	padding-right: 1.5rem;
	padding-bottom: .25rem;
	padding-left: 1em;
  height: 100%;
}

.navbar-nav  nav ul.nav a:hover,
.navbar-nav  nav ul.nav li.active > a,
.navbar-nav  nav ul.nav li.active > a:hover {
  color: var(--sqt-color-link);
}

.navbar-nav .active:hover > a,
.navbar-nav .active > a {
  font-weight: 600;
	color: var(--sqt-color-link);
}


#main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 0;
}

#main-container {
  padding: 0;
  justify-content: revert;
  display: flex;
  height: 100%;
}

#main-container-inner {
  position: relative;
  overflow-x: unset;
  padding: 0;
  min-width: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  max-width: 60em;
  width: 100%;
}

#content-header {
  height: 3em;
  background-color: #fff;
  transition: left .2s;
  font-size: var(--sqt-header-article-font-size);
  position: sticky;
  top: 0;
  z-index: 1018;
  box-shadow: 0 6px 6px -6px rgba(0,0,0,.3);
}

#content-header-inner {
	padding-bottom: .25rem !important;
	padding-top: .25rem !important;
	display: flex !important;
	flex-basis: 0;
	flex-grow: 1;
	max-width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
	width: 100%;
}

#content-header-left {
	display: flex;
	align-items: center;
}

#content-header-right {
	margin-left: auto;
	display: flex;
	align-items: center;
}

.headerbtn {
  justify-content: center;
  background-color: #fff;
  color: #5a5a5a;
  cursor: pointer;
  border: none;
  padding: .1rem .5rem;
  margin: 0 .1rem;
}

.headerbtn,
.headerbtn span {
  display: flex;
  align-items: center;
	font-size: 1.5em;
}

.headerbtn i,
.headerbtn img {
  margin: auto;
  width: 1em;
  text-align: center;
  font-size: 1.5em;
}


#toggle-button {
	display: none;
}

#toggle-button:checked + #sidebar-primary {
  display: none;
}

#toggle-button:checked ~ #main-content {
  margin-left: 5%;
}

#content-header {
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.5s;
}

#content-header:hover {
	opacity: 1;
}

#content-article {
  padding-left: 2rem;
  padding-right: 2rem;
}

#content-footer {
  border-top: none;
  padding: 0;
  display: flex;
  margin-top: auto;
  font-size: var(--sqt-font-size-small-1);
}

h1 {
 font-size:var(--sqt-font-size-h1);
 margin-top:0
}
h1,
h2 {
 color:var(--sqt-color-primary)
}
h2 {
 font-size:var(--sqt-font-size-h2)
}
h3 {
 font-size:var(--sqt-font-size-h3)
}
h3,
h4 {
 color:var(--sqt-color-text-base)
}
h4 {
 font-size:var(--sqt-font-size-h4)
}
h5 {
 font-size:var(--sqt-font-size-h5)
}
h5,

h6 {
 color:var(--sqt-color-text-base)
}
h6 {
 font-size:var(--sqt-font-size-h6)
}


#content-article h1, #content-article h2, #content-article h3, #content-article h4, #content-article h5 {
  color: #000;
  font-family: var(--sqt-font-family-heading);
  font-weight: 400;
  line-height: 1.15;
  margin: 2.75rem 0 1.05rem;
}

#content-article h1 {
  margin: 0rem 0 1.05rem;
}

#content-article h2, #content-article h3, #content-article h4, #content-article h5 {
  margin: 2.75rem 0 1.05rem;
}

#content-article h3, #content-article h4, #content-article h5 {
 margin-top:1em
}

p {
  color: var(--sqt-color-text-base);
  font-size: 1em;
  margin-bottom: 1.15rem;
}

b, strong {
  font-weight: bolder;
}

address, dl, ol, ul {
  margin-bottom: 1rem;
}

#content-article > ol,
#content-article > ul {
	padding-left:2.5em
}

#content-article > ol > li > ol,
#content-article > ul > li > ol {
	padding-left:5.5em
}

a {
  background-color: transparent;
  text-decoration: none;
  color: var(--sqt-color-link);
}

a.anchor-link {
	opacity: 0;
}

#content-article h2:hover a.anchor-link,
#content-article h3:hover a.anchor-link,
#content-article h4:hover a.anchor-link,
#content-article h5:hover a.anchor-link,
#content-article h6:hover a.anchor-link {
	opacity: 1;
}

blockquote {
  margin: 1em;
  padding: .2em 1.5em;
  border-left: 4px solid #ccc;
	border-radius: .25rem;
	position: relative;
	clear: left;
}

blockquote, blockquote p {
  color: var(--sqt-color-text-muted);
}

blockquote p:last-child {
	margin-bottom: 0;
}

blockquote::after {
  display: block;
  content: '';
  clear: both;
}

blockquote::before {
  background-color: var(--sqt-color-border);
  content: "";
  height: 100%;
  left: 0;
  opacity: .1;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}


img {
  max-width: 100%;
  border-style: none;
}
img, svg {
  vertical-align: middle;
}

table {
  color: #212529;
  margin-bottom: 1rem;
/*  width: 100%;*/
	display: table;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	overflow: auto;
	border-collapse: collapse;
}

table thead th {
  border-bottom: 2px solid #dee2e6;
  vertical-align: bottom;
	font-weight: bold;
}

th, td {
	text-align: center;
	border-top: 1px solid #dee2e6;
	padding: .75rem;
	vertical-align: top;
}

#content-article pre:not(.code-block) code {
  background-color: inherit
}

code, pre {
	font-family: var(--sqt-font-family-monospace);
	line-height: 1.3rem;
}

code {
	background-color: var(--jp-layout-color2);
	white-space: pre-wrap;
}

.code-cell {
	max-width: 100%;
	overflow-x: auto;
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 0.5em;
	border: 1px #ccc solid;
	border-radius: .25rem;
	border-left-color: green;
	border-left-width: 2px;
	box-shadow: none;
	box-sizing: content-box;
	background-color: var(--sqt-code-cell-background);
}

.code-cell pre,
.code-cell code,
.code-cell span {
	background-color: var(--sqt-code-cell-background);
}

.cell-output {
	margin-bottom: 1em;
}

.output-img:not(:first-child) {
	margin-top: 1em;
}

.output-img:not(:last-child) {
	margin-bottom: 1em;
}

#content-footer {
	padding-left: 2rem;
	padding-right: 2rem;
	margin-bottom: 2rem;
}

#prev-next-area {
	font-size: var(--sqt-prevnext-font-size);
	width: 100%;
}

#prev-next-area a {
	display: flex;
	max-width: 40%;
	align-items: center;
}

#prev-link {
	float: left;
}

#next-link {
	float:right;
}

.prev-next-arrow {
	font-size: 2em;
}

.prev-next-title {
	display: inline;
	color: var(--sqt-color-link);
	font-weight: 200;
	margin: 0;
}
